<<div class="container mt-5 d-flex justify-content-center ">
  <div class="bg-white shadow p-5 text-monospace">
    <%= form_with(url: "/", local: true, method: "get") do |f| %>
      <p>Enter a flickr ID to see photos</p>
      <div class="input-group mb-3">
        <%= f.text_field :user_id, class: "form-control", placeholder: "User Id", required: true %>
        <div class="input-group-append">
          <%= f.submit "Search", :class => "btn btn-outline-primary col-lg-12" %>
          
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class = "d-flex flex-wrap">
 <% @photos.each do |x| %>
 
        <div class="rounded mx-auto d-block my-3">
     
  
   <%= link_to(image_tag(Flickr.url_q(x),style:"height:200px; width:200px"), Flickr.url_photopage(x)) %>
     
     <%# <%= x.owner%> 

        </div>
      <% end %>
      </div>